body {
  background-color: #264653;
  color: #e9c46a;
  font-family: 'Poppins', sans-serif;
}

  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }

  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }

  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }

 h1 {
  text-align: center;
  line-height:  1.5;
  color: #ea8971;
  font-size: 50px;
  padding: 2px;
 }

img {
  width: 200px;
  border-radius: 20em;
  box-shadow:  0 5px 20px #e9c46a;
  display: block;
  margin: auto;
}

 div {
  text-align: center;
  line-height:  1.5;
  width: 600px;        /* Set the width */
  margin: 0 auto;
 }

h4 {
  color: #ea8971;
}

 li {
  color: #e76f51;
  list-style: none;
  display: inline;
  padding: 10px;
  margin-left: 50px;
 }

 li a {
  text-decoration: none;
   color: #e76f51
 }

 a:hover{
  color: #e9c46a;
 }

h2{
color: #ea8971;
}

#underline{
  margin-left: -500px;
  text-decoration: underline;
}

p{
  border: 2px solid;
  padding: 10px;
  box-shadow: 0 5px 20px #e9c46a;

}

ul{
  margin-left: -120px;
}
